<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FILL THE FORM
        link(rel="stylesheet", href="/style.css")
    body
    <form action="/form" method="POST">
        input(type="text" class= 'name' placeholder='name' required name="name")
        input(type="email" class= 'email' placeholder='email' required name="email")
        input(type="number" class= 'salary' placeholder='salary' required name = 'salary')
        <select class='sel' name='designation'>
        each role in des
            option(value=`${role.des}`) #{role.des}
    
        </select>
        button(type='submit') Submit
    </form>
    script(src="/script.js")