<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title TEST FORM 
        link(rel="stylesheet", href="/style.css")
    body

    h1 Designation 
    <form action="/" method="POST">
        input(type="text" placeholder = "Designation" class='des' name='des')
        button(type="sumbit" class='btn') Submit
    </form>

    